@model IEnumerable<SlideCloud.Models.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ListOfUsers";
}
<section class="page-header">
    <div class="container rtl">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
            </ul><!-- /.eduhive-breadcrumb list-unstyled -->
            <h2 class="page-header__title">لیست کاربران ثبت نام شده</h2>
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
    <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
    <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
    <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section><!-- /.page-header -->
<section class="course-details section-space">
    <div class="container">
        <div class="row gutter-y-40 rtl">
            @foreach (var user in Model)
            {
                <div class="course-details__info">
                    <h3 class="course-details__info__title">کاربر آیدی:@user.Id</h3><!-- /.course-details__info__title -->
                    <ul class="course-details__info__list list-unstyled">

                        <li>
                            <div class="course-details__info__text">
                                <div class="course-details__info__text__title">
                                    <span class="course-details__info__icon"><i class="icon-multiple-users"></i></span>
                                    نام کاربر:
                                </div>
                                <span>@user.Name</span>
                            </div><!-- /.course-details__info__text -->
                        </li>
                        <li>
                            <div class="course-details__info__text">
                                <div class="course-details__info__text__title">
                                    <span class="course-details__info__icon"><i class="icon-multiple-users"></i></span>
                                    ایمیل کاربر :
                                </div>
                                <span>@user.Email</span>
                            </div><!-- /.course-details__info__text -->
                        </li>


                    </ul><!-- /.course-details__info__list -->
                    <!-- /.course-details__info__price -->
                    @if (ViewBag.UserRoles.ContainsKey(user.Id))
                    {
                        bool isAdmin = false;
                        @foreach (var role in ViewBag.UserRoles[user.Id])
                        {
                            if (role == "Admin")
                            {
                                isAdmin = true;
                                break;
                            }

                        }
                        @if (isAdmin)
                        {
                            <a href="/Admin/ManageSlide/DemoteToUser/@user.Id"
                               class="btn btn-sm btn-outline-danger">به یوزر ساده تبدیل کن</a>
                        }
                        else
                        {
                            <a href="/Admin/ManageSlide/PromoteToAdmin/@user.Id"
                               class="btn btn-lg btn-success fw-bold">به ادمین تبدیل کن</a>
                        }

                    }



                </div>

                <!-- /.course-details__info -->
            }
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.course-details section-space -->