@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "درباره ما";
}

<section class="page-header">
    <div class="container rtl">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li>
                    <span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span>
                    <a href="@Url.Content("~/")">خانه</a>
                </li>
                <li><span>درباره ما</span></li>
            </ul>
            <h2 class="page-header__title">درباره ما</h2>
        </div>
    </div>
    <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
    <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div>
    <div class="page-header__shape-four"></div>
</section>


<section class="online-class section-space-bottom">
    <div class="online-class__inner">

        <div class="online-class__inner__bg" style="background-image: url(https://slidecloud.ir/assets/images/shapes/online-class-bg-1-1.png);">
            
        </div><!-- /.online-class__inner__bg -->
        
    </div><!-- /.online-class__inner -->
    <div class="">
       
        <div class="online-class__content rtl p-4">
            <div class="sec-title sec-title--center wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                <h3 class="sec-title__title">درباره ما</h3><!-- /.sec-title__title -->
            </div><!-- /.sec-title -->
            <div class="online-class__description wow fadeInUp animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                <p class="">
                    این سایت توسط دانشجویان دوره دات‌نت آکادمی <strong>دانشکار</strong> ساخته شده است.
                    فرآیند توسعه با تلاش تیمی و تمرین عملی مفاهیم آموزشی انجام شده و در این مسیر،
                    <strong>مسعود بیگی</strong> به‌عنوان مربی و <strong>پارسا پناه‌پور</strong> به‌عنوان منتور نقش کلیدی در هدایت و پشتیبانی از تیم ایفا کرده‌اند.
                </p>
                <p class="online-class__text">
                    هدف از ساخت این پروژه، یادگیری عملی توسعه وب با استفاده از تکنولوژی‌های مدرن مانند ASP.NET Core MVC، Razor، Entity Framework و طراحی رابط کاربری حرفه‌ای بوده است.
                </p>
            </div><!-- /.online-class__description -->
            <div class="online-class__class-wrapper rtl">
                
           
            </div><!-- /.online-class__class-wrapper -->
        </div><!-- /.online-class__content -->
    </div><!-- /.container -->
    <div class="online-class__shape"></div><!-- /.online-class__shape -->
    <div class="online-class__box"></div><!-- /.online-class__box -->
</section>

<section class="instructors-three section-space2" id="instructors">
    <div class="container">
        <img src="~/assets/images/shapes/testimonial-shape-3-1.png" alt="shape" class="testimonials-three__shape-one">
        <img src="~/assets/images/shapes/testimonial-shape-3-2.png" alt="shape" class="testimonials-three__shape-two">
        <img src="~/assets/images/shapes/testimonial-shape-3-3.png" alt="shape" class="testimonials-three__shape-three">
        <div class="testimonials-three__shape-box"></div><!-- /.testimonials-three__shape-box -->
        <div class="sec-title sec-title--center wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
            <h6 class="sec-title__tagline">تیم متخصص ما</h6><!-- /.sec-title__tagline -->
            <h3 class="sec-title__title">کارشناسان <span class="sec-title__title__text">و مربیان</span> <span class="sec-title__title__shape">تیم ما</span></h3><!-- /.sec-title__title -->
        </div><!-- /.sec-title -->
        <div class="instructors-three__carousel eduhive-owl__carousel eduhive-owl__carousel--with-shadow eduhive-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
             "items" : 1,
             "margin" : 10,
             "loop" : true,
             "smartSpeed" : 700,
             "nav" : false,
             "dots" : true,
             "navText" : ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "autoplay": true,
            "responsive": {
                "0": {
                    "items": 1,
                    "nav": true,
                    "dots": false,
                    "margin": 10
                },
                "576": {
                    "items": 2,
                    "margin": 30
                },
                "992": {
                    "items": 3,
                    "margin": 30
                },
                "1200": {
                    "items": 4,
                    "margin": 30,
                    "dots": false
                }
            }
        }'>
                    <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/mohammad-hossein.webp" alt="Anthony B. Castillo">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">محمد حسین دریاباری </a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/Mohammad-Mahdi.webp" alt="david cooper">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">محمد مهدی خدابنده </a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/Mohammad-Salamat.webp" alt="Anthony B. Castillo">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">محمد سلامت</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/soheil.webp" alt="david cooper">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html"> سهیل ایمانی </a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/MohammadFaraji.webp" alt="kevin martin">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">محمد فرجی</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/TiamBakhSian.webp" alt="Adlof Carone">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">تیام بخشیان</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                     <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="~/assets/images/team/AmirHoseinShiravandi.webp" alt="kevin martin">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">فیسبوک</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">توییتر</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">اینستاگرام</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com/">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">یوتوب</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html"> امیرحسین شیراوندی</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">توسعه دهنده NET.</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->


    </div><!-- /.blog-three__carousel -->
    </div><!-- /.eduhive-stretch-element-inside-column -->
    </div><!-- /.col-xl-8 col-lg-5 -->
</section><!-- /.blog-three section-space -->
