@using SlideCloud.Application.DTO.Contact
@model ContactDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "تماس با ما";
}

<section class="page-header">
    <div class="container rtl">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">خانه</a></li>
                <li><span>تماس با ما</span></li>
            </ul>
            <h2 class="page-header__title">تماس با ما</h2>
        </div>
    </div>
    <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
    <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div>
    <div class="page-header__shape-four"></div>
</section>

<section class="contact-one">
    <div class="container rtl">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <div class="row">
            <div class="col-xl-6">
                <div class="contact-one__content">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">تماس با ما</span>
                        <h2 class="section-title__title">با ما در تماس باشید</h2>
                    </div>
                    <p class="contact-one__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    <div class="contact-one__btn-box">
                        <a href="tel:123456789" class="contact-one__btn">
                            <span class="contact-one__btn-icon"><i class="icon-phone"></i></span>
                            <div class="contact-one__btn-content">
                                <span>تماس با ما</span>
                                <p>123-456-789</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <form class="contact-page__form contact-form-validated form-one" asp-action="Contact" method="post">
                    <div class="form-one__group">
                        <div class="form-one__control form-one__control--full">
                            <input type="text" asp-for="FullName" placeholder="مشخصات کامل">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-one__control form-one__control--full">
                            <input type="email" asp-for="Email" placeholder="آدرس ایمیل">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-one__control form-one__control--full">
                            <input type="tel" asp-for="PhoneNumber" placeholder="شماره تماس">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-one__control form-one__control--full">
                            <textarea asp-for="Message" placeholder="پیام بنویس . ."></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>

                        <div class="form-one__control form-one__control--full">
                            <button type="submit" class="eduhive-btn">
                                <span>اکنون ارسال کنید</span>
                                <span class="eduhive-btn__icon rtlicon2"><i class="icon-right-up"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="contact-page__form__image">
                        <img src="~/assets/images/resources/contact-1-2.jpg" alt="contact">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}