@{
    Layout = "_layout";
}
@model List<SlideCloud.Models.Document>
@{
    ViewData["Title"] = "اسلایدهای نویسنده";
    var authorName = ViewBag.AuthorName as string;
}

<section class="product-page section-space-bottom">
    <div class="container">
        <div class="row gutter-y-60">
            <div class="col-xl-9 col-lg-8">
                @if (Model != null && Model.Any())
                {
                    <div class="row gutter-y-30">

                        @foreach (var slide in Model)
                        {
                            <div class="col-xl-4 col-sm-6">
                                <a href="@Url.ActionLink("Detail","Slide" ,new {id=slide.Id})">
                                    <div class="product__item wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='000ms'>
                                        <div class="product__item__image">
                                            <img src="@slide.Picture" alt="Dining Chair">
                                        </div><!-- /.product-image -->
                                        <div class="product__item__content">
                                            <div class="eduhive-ratings">
                                                <span class="eduhive-ratings__icon">
                                                    <i class="fa fa-star"></i>
                                                </span><!-- /.eduhive-ratings__icon -->
                                                <span class="eduhive-ratings__icon">
                                                    <i class="fa fa-star"></i>
                                                </span><!-- /.eduhive-ratings__icon -->
                                                <span class="eduhive-ratings__icon">
                                                    <i class="fa fa-star"></i>
                                                </span><!-- /.eduhive-ratings__icon -->
                                                <span class="eduhive-ratings__icon">
                                                    <i class="fa fa-star"></i>
                                                </span><!-- /.eduhive-ratings__icon -->
                                                <span class="eduhive-ratings__icon">
                                                    <i class="fa fa-star"></i>
                                                </span><!-- /.eduhive-ratings__icon -->
                                            </div><!-- /.product-ratings -->
                                            <h4 class="product__item__title">
                                                @slide.Title
                                            </h4><!-- /.product-title -->
                                        </div><!-- /.product-content -->
                                    </div><!-- /.product-item -->
                                </a>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        نویسنده هنوز اسلایدی ثبت نکرده است.
                    </div>
                }
            </div>
        </div>
    </div>
</section>





