@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "_Layout";
}

<section class="main-slider-three" id="home">
    <div class="main-slider-three__carousel eduhive-owl__carousel eduhive-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
         "items" : 1,
         "margin" : 0,
         "animateIn" : "fadeIn" ,
         "animateOut" : "fadeOut" ,
         "loop" : true,
         "smartSpeed" : 1000,
         "nav" : false,
         "dots" : false,
         "autoplay" : true,
         "navText" : ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"]
    }'>
                <div class="main-slider-three__item">
                    <div class="main-slider-three__bg" style="background-image: url(/Template/assets/images/shapes/main-slider-bg-2-1.png);"></div><!-- /.main-slider-three__bg -->
                    <div class="container">
                        <div class="row gutter-y-60 align-items-center">
                            <div class="col-lg-12">
                                <div class="main-slider-three__content">
                                    <div class="main-slider-three__video">
                                        <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="main-slider-three__video__btn video-btn video-popup">
                                            <i class="icon-play"></i>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a><!-- /.video-btn -->
                                    </div><!-- /.main-slider-three__video -->
                                    <h2 class="main-slider-three__title">
                                        <span class="main-slider-three__title__inner">
                                            <span class="main-slider-three__title__text main-slider-three__title__text--1">مهارت های <span class="main-slider-three__title__highlight">جدید</span> بیاموزید</span>
                                        </span><!-- /.main-slider-three__title__inner -->
                                        <span class="main-slider-three__title__inner">
                                            <span class="main-slider-three__title__text main-slider-three__title__text--2">شروع کن به یادگیری</span>
                                        </span><!-- /.main-slider-three__title__inner -->
                                    </h2><!-- /.title -->
                                    <div class="main-slider-three__bottom">
                                        <div class="main-slider-three__bottom__inner rtl">
                                            <a href="courses.html" class="main-slider-three__btn eduhive-btn">
                                                <span class="eduhive-btn__text">دوره پیدا کنید</span>
                                                <span class="eduhive-btn__icon">
                                                    <span class="eduhive-btn__icon__inner"><i class="icon-left-arrow"></i></span>
                                                </span>
                                            </a><!-- /.eduhive-btn -->
                                        </div><!-- /.main-slider-three__bottom__inner -->
                                        <div class="main-slider-three__bottom__inner">
                                            <div class="main-slider-three__student">
                                                <div class="main-slider-three__student__image">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-1.png" alt="student">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-2.png" alt="student">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-3.png" alt="student">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-4.png" alt="student">
                                                    <h4 class="main-slider-three__student__count count-box">
                                                        <span class="count-text" data-stop="2" data-speed="1500">0</span><span>k+</span>
                                                    </h4><!-- /.student__count -->
                                                </div><!-- /.main-slider-three__student__image -->
                                                <p class="main-slider-three__student__text">دانش آموزان</p>
                                            </div><!-- /.main-slider-three__student -->
                                        </div><!-- /.main-slider-three__bottom__inner -->
                                    </div><!-- /.button -->
                                    <div class="main-slider-three__content__circle-one main-slider-three__circle"></div><!-- /.circle-one -->
                                    <div class="main-slider-three__content__circle-two main-slider-three__circle"></div><!-- /.circle-two -->
                                </div><!-- /.main-slider-three__content -->
                                <div class="main-slider-three__images">
                                    <div class="main-slider-three__image main-slider-three__image--top">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-1.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                    <div class="main-slider-three__image">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-2.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                    <div class="main-slider-three__image">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-3.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                    <div class="main-slider-three__image main-slider-three__image--top">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-4.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                </div><!-- /.main-slider-three__images -->
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row gutter-y-60 -->
                    </div><!-- /.container -->
                    <img src="/Template/assets/images/shapes/main-slider-shape-3-1.png" alt="shape" class="main-slider-three__shape-one slider-image">
                    <img src="/Template/assets/images/shapes/main-slider-shape-3-2.png" alt="shape" class="main-slider-three__shape-two slider-image">
                    <div class="main-slider-three__box-one"></div><!-- /.box-one -->
                    <div class="main-slider-three__box-two"></div><!-- /.box-two -->
                    <div class="main-slider-three__circle-one main-slider-three__circle"></div><!-- /.circle-one -->
                    <div class="main-slider-three__circle-two main-slider-three__circle"></div><!-- /.circle-two -->
                    <div class="main-slider-three__circle-three main-slider-three__circle"></div><!-- /.circle-three -->
                    <div class="main-slider-three__circle-four main-slider-three__circle"></div><!-- /.circle-four -->
                </div><!-- /.main-slider-three__item -->
                <div class="main-slider-three__item">
                    <div class="main-slider-three__bg" style="background-image: url(/Template/assets/images/shapes/main-slider-bg-2-1.png);"></div><!-- /.main-slider-three__bg -->
                    <div class="container">
                        <div class="row gutter-y-60 align-items-center">
                            <div class="col-lg-12">
                                <div class="main-slider-three__content">
                                    <div class="main-slider-three__video">
                                        <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="main-slider-three__video__btn video-btn video-popup">
                                            <i class="icon-play"></i>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a><!-- /.video-btn -->
                                    </div><!-- /.main-slider-three__video -->
                                    <h2 class="main-slider-three__title">
                                        <span class="main-slider-three__title__inner">
                                            <span class="main-slider-three__title__text main-slider-three__title__text--1">مهارت های جدید را بیاموزید</span>
                                        </span><!-- /.main-slider-three__title__inner -->
                                        <span class="main-slider-three__title__inner">
                                            <span class="main-slider-three__title__text main-slider-three__title__text--2">یک پیشنهاد عالی<span class="main-slider-three__title__highlight"> برای شما</span></span>
                                        </span><!-- /.main-slider-three__title__inner -->
                                    </h2><!-- /.title -->
                                    <div class="main-slider-three__bottom">
                                        <div class="main-slider-three__bottom__inner rtl">
                                            <a href="courses.html" class="main-slider-three__btn eduhive-btn">
                                                <span class="eduhive-btn__text">دوره پیدا کنید</span>
                                                <span class="eduhive-btn__icon">
                                                    <span class="eduhive-btn__icon__inner"><i class="icon-left-arrow"></i></span>
                                                </span>
                                            </a><!-- /.eduhive-btn -->
                                        </div><!-- /.main-slider-three__bottom__inner -->
                                        <div class="main-slider-three__bottom__inner">
                                            <div class="main-slider-three__student">
                                                <div class="main-slider-three__student__image">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-1.png" alt="student">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-2.png" alt="student">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-3.png" alt="student">
                                                    <img src="/Template/assets/images/main-slider/main-slider-student-2-4.png" alt="student">
                                                    <h4 class="main-slider-three__student__count count-box">
                                                        <span class="count-text" data-stop="2" data-speed="1500">0</span><span>k+</span>
                                                    </h4><!-- /.student__count -->
                                                </div><!-- /.main-slider-three__student__image -->
                                                <p class="main-slider-three__student__text">دانش آموزان</p>
                                            </div><!-- /.main-slider-three__student -->
                                        </div><!-- /.main-slider-three__bottom__inner -->
                                    </div><!-- /.button -->
                                    <div class="main-slider-three__content__circle-one main-slider-three__circle"></div><!-- /.circle-one -->
                                    <div class="main-slider-three__content__circle-two main-slider-three__circle"></div><!-- /.circle-two -->
                                </div><!-- /.main-slider-three__content -->
                                <div class="main-slider-three__images">
                                    <div class="main-slider-three__image main-slider-three__image--top">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-5.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                    <div class="main-slider-three__image">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-6.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                    <div class="main-slider-three__image">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-7.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                    <div class="main-slider-three__image main-slider-three__image--top">
                                        <img src="/Template/assets/images/main-slider/main-slider-3-8.jpg" alt="main-slider" class="slider-image">
                                    </div><!-- /.main-slider-three__image -->
                                </div><!-- /.main-slider-three__images -->
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row gutter-y-60 -->
                    </div><!-- /.container -->
                    <img src="/Template/assets/images/shapes/main-slider-shape-3-1.png" alt="shape" class="main-slider-three__shape-one slider-image">
                    <img src="/Template/assets/images/shapes/main-slider-shape-3-2.png" alt="shape" class="main-slider-three__shape-two slider-image">
                    <div class="main-slider-three__box-one"></div><!-- /.box-one -->
                    <div class="main-slider-three__box-two"></div><!-- /.box-two -->
                    <div class="main-slider-three__circle-one main-slider-three__circle"></div><!-- /.circle-one -->
                    <div class="main-slider-three__circle-two main-slider-three__circle"></div><!-- /.circle-two -->
                    <div class="main-slider-three__circle-three main-slider-three__circle"></div><!-- /.circle-three -->
                    <div class="main-slider-three__circle-four main-slider-three__circle"></div><!-- /.circle-four -->
                </div><!-- /.main-slider-three__item -->
            </div><!-- /.main-slider-three__carousel -->
</section><!-- /.main-slider-three -->
